
#weather--week {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto;

}

#weather--day {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#weather--time {
    display: flex;
    flex-direction: column; 
    margin-bottom: 2rem;
}

ul li {
    list-style: none;
    display: flex;
}